<link rel="stylesheet" href="/styles/forms.css" />
<script src="/scripts/apply-voucher.js" defer></script>

<% function pluralize(noun) {
  // The noun ends with 's', 'x', 'z', 'sh', or 'ch'
  if (noun.match(/(s|x|z|sh|ch)$/)) {
    return noun + "es";
  }

  // The noun ends with 'y' and is preceded by a consonant
  if (noun.match(/[^aeiou]y$/)) {
    return noun.slice(0, -1) + "ies";
  }

  // The noun ends with 'f' or 'fe'
  if (noun.match(/(f|fe)$/)) {
    return noun.replace(/(f|fe)$/, "ves");
  }

  // The noun ends with a consonant followed by 'o'
  if (noun.match(/[^aeiou]o$/)) {
    return noun + "es";
  }

  // Other cases
  return noun + "s";
} %>

<div
  class="modal fade"
  id="applyModal"
  tabindex="-1"
  aria-labelledby="applyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-black" id="applyModalLabel">
          Select your voucher
        </h1>
        <button
          type="reset"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-black">
        <i><p class="text-danger">Select maximum 1 voucher per type. Total orders over 200,000 VND to apply get bonus gifts and extra points vouchers.</p></i>
        <% if(discountVouchers.length + getVouchers.length + extraVouchers.length === 0) { %>
          <i><span class="text-center text-secondary">You don't have any voucher</span></i>
        <% } else { %>
          <h4 class="<%= !discountVouchers.length ? 'd-none' : '' %>">Discount voucher</h4>
          <% for(const voucher of discountVouchers) { %>
            <% const number = parseInt(voucher.value.match(/\d+/)) %>
            <p class="m-0">
              <input role="button" type="checkbox" id="D<%= discountVouchers.indexOf(voucher) %>" class="discount" />
              <label role="button" for="D<%= discountVouchers.indexOf(voucher) %>" class="fw-medium"><span class="text-success"><%= voucher.title %>: </span><%= number %>% discount</label>
            </p>
          <% } %>

          <% if(locals.cart.totalPrice > 200000) { %>
            <h4 class="<%= !getVouchers.length ? 'd-none' : '' %>">Get bonus voucher</h4>
            <% for(const voucher of getVouchers) { %>
              <% const number = parseInt(voucher.value.match(/\d+/)) %>
              <% const product = number === 1 ? voucher.value.split('/')[1] : pluralize(voucher.value.split('/')[1]) %>
              <p class="m-0">
                <input role="button" type="checkbox" id="G<%= getVouchers.indexOf(voucher) %>" class="product" />
                <label role="button" for="G<%= getVouchers.indexOf(voucher) %>" class="fw-medium"><span class="text-success"><%= voucher.title %>: </span><%= number %> bonus <%= product %></label>
              </p>
            <% } %>

            <h4 class="<%= !extraVouchers.length ? 'd-none' : '' %>">Get extra point voucher</h4>
            <% for(const voucher of extraVouchers) { %>
              <% const number = parseInt(voucher.value.match(/\d+/)) %>
              <p class="m-0">
                <input role="button" type="checkbox" id="E<%= extraVouchers.indexOf(voucher) %>" class="point" />
                <label role="button" for="E<%= extraVouchers.indexOf(voucher) %>" class="fw-medium"><span class="text-success"><%= voucher.title %>: </span>Get <%= number %> extra points</label>
              </p>
            <% } %>
          <% } %>
        <% } %>
      </div>
      <div class="modal-footer">
        <button
          type="reset"
          class="btn btn-alt text-secondary border-secondary"
        >
          <i class="fa-solid fa-arrow-rotate-right"></i> Reset
        </button>
        <button class="btn bg-primary border-primary">
          <i class="fa-solid fa-check"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</div>
