<%- include('../../shared/page/head', { pageTitle: `${isAvailable ? 'Available' : 'Own'} Vouchers` }) %>
<link rel="stylesheet" href="/styles/vouchers.css">
<script src="/scripts/image-preview.js" defer></script>
<script src="/scripts/show-toast.js" defer></script>
<script src="/scripts/voucher-management.js" defer></script>
</head>

<body>
  <%- include('../../shared/page/header') %>
  <main>
    <article class="d-flex justify-content-end"><p id="my-point" class="badge fw-bold fs-6 <%= isAvailable ? '' : 'd-none' %>">Point: <%= point %></p></article>
    <nav class="nav nav-pills nav-justified border rounded mt-4 mx-auto fw-medium <%= locals.isAdmin ? 'd-none' : '' %>">
      <a class="nav-link <%= isAvailable ? 'active bg-secondary' : 'text-secondary' %>" aria-current="page" href="/vouchers/available">Available</a>
      <a class="nav-link <%= isAvailable ? 'text-secondary' : 'active bg-secondary' %>" href="/vouchers/own">Own</a>
    </nav>
    <h1 class="my-2 <%= locals.isAdmin ? '' : 'd-none' %>">Available Vouchers</h1>
    <section>
      <p>
        <button type="button" class="btn btn-solid mt-3 <%= locals.isAdmin ? '' : 'd-none' %>" data-bs-toggle="modal" data-bs-target="#voucherModal">
          <i class="fa-solid fa-circle-plus me-1"></i>
          Add Voucher
        </button>
      </p>

      <% const today = new Date();
        const tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1); %>
      <%- include('../../admin/vouchers/includes/voucher-form', { submitPath: '/admin/vouchers', title: 'Add new voucher', i: '', voucher: {
        title: '',
        imageUrl: '',
        value: '',
        point: 10,
        expiration: tomorrow
      }, tomorrow: tomorrow, imageRequired: true }) %>
    </section>

    <% if(vouchers.length === 0) { %>
      <i><h4 class="text-center text-secondary mt-5">No vouchers are available</h4></i>
    <% } else { %>
      <ol class="<%= locals.isAdmin ? '' : 'fadeUp' %>">
        <% for (const voucher of vouchers) { %>
          <li><%- include('includes/voucher-item', { voucher: voucher, i: vouchers.indexOf(voucher), tomorrow: tomorrow }) %></li>
        <% } %>
      </ol>
    <% } %>

    <% if(message) { %>
      <%- include('../../admin/popup/notification', { message: message, isError: isError }) %>
    <% } %>
  </main>
  
  <%- include('../../shared/page/footer') %>
</body>
